/********************
 * event.php
 ********************/

.event-form .form-group-category {
  margin-bottom: 10px;
}

.event-form .form-group-category .btn-category {
  margin-bottom: 5px;
}

.return-home {
  display: block;
  margin-bottom: 15px;
}

/********************
 * search.php
 ********************/

.search-results {
  padding: 0;
}

.search-item {
  list-style: none;
}

.search-item .item-detail {
  margin: 10px;
}

/********************
 * index.php
 ********************/

.form-search {
  margin-top: 20px;
}